{% extends 'client/layouts.html' %}
{% block title %}
    Create Subscription
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-4 py-5  my-5  rounded shadow text-center">
                <h4>{{ SubscriptionPlan }} subscription activate!</h4>
                <br>
                <br>
                <h1> ✅ </h1>


                <p>
                    Congratulations on activating your {{ SubscriptionPlan }} subscription!
                    You are eligible for the perks that are associated with this plan.
                </p>

                <a href="{% url 'browse-articles' %}" class="btn btn-outline-success btn-lg"> Browse Article</a>
            </div>
        </div>
    </div>
    {#    <div class="container">#}
    {#        <div class="row justify-content-center">#}
    {#            <div class="col-4 py-5  my-1  rounded shadow text-center">#}
    {#                <h4>Subscription Plan</h4><br>#}
    {#                <p class="h5">#}
    {#                    {{ SubPlan }}#}
    {#                </p>#}
    {#            </div>#}
    {#        </div>#}
    {#    </div>#}
{% endblock %}