{% extends 'client/layouts.html' %}
{% block title %}
    Client Subscription
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-4 py-5  my-5  rounded shadow text-center">
                <h3>Subscription Locked</h3>
                <br>
                <p class="h6">
                    Please subscribe to browse through your article
                </p>
            </div>
        </div>
    </div>
{% endblock %}