{% extends 'account/layouts.html' %}
{% block title %}
    Email Verification sent.
{% endblock %}

{% block content %}
    <div id="page-content">
        <div class="container text-center">
            <div class="row justify-content-center">
                <div class="col-md-7">
                    <h1 class="fw-light mt-4 text-dark"> Email Verification send</h1>
                    <p class="lead text-dark-50">
                        A verification link was sent to your email. Please be sure to approve it.
                    </p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

